<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>67</integer>
	<key>Time Stamp</key>
	<real>1738809643.4413052</real>
	<key>UUID</key>
	<string>F4F21B65-BAF4-41B0-BAE7-76AE66D86044</string>
</dict>
</plist>
